@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

@each $color, $value in $colors {
  @include bg-variant(".bg-#{$color}", $value, true);

  @for $i from 0 through 5 {
    .bg-blur-#{$i} { backdrop-filter: blur(($i / 5) + rem) !important; } // 0rem-1rem infinity
    .bg-brightness-#{$i} { backdrop-filter: brightness($i / 2 + 1) !important; } // 1-3.5 infinity
    .bg-contrast-#{$i} { backdrop-filter: contrast($i * 2 + 1) !important; } // 1-11 infinity
    .bg-grayscale-#{$i} { backdrop-filter: grayscale($i / 5) !important; } // 0-1
    .bg-invert-#{$i} { backdrop-filter: invert($i / 5) !important; } // 0-1
    .bg-saturate-#{$i} { backdrop-filter: saturate($i * 2 + 1) !important; } // 1-11 infinity
    .bg-sepia-#{$i} { backdrop-filter: sepia($i / 5) !important; } // 0-1
  }
}

@if $enable-gradients {
  @each $color, $value in $colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}
