@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

@each $color, $value in $colors {
  .border-#{$color} {
    border-color: $value !important;
  }
}
