@import './background';
@import './borders';
@import './card';
@import './forms';
@import './input-group';
@import './loading';

.fas {
  height: 1em !important;
  width: 1em !important;
}

.k-widget.k-drawer.k-drawer-end {
  width: 100%;
}

.img-fluid {
  object-fit: cover;
  width: 100%;
}

.k-animation-container {
  z-index: 10003 !important;
}

.k-window.k-dialog {
  max-height: 100vh;
}
