@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

@import '~bootstrap/scss/input-group';

.input-group {
  .k-combobox,
  .k-dropdown,
  .k-multiselect {
    &:not(:last-child) {
      .k-dropdown-wrap,
      .k-multiselect-wrap {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:not(:first-child) {
      .k-dropdown-wrap,
      .k-multiselect-wrap {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .k-dropdown-wrap .k-select,
    .k-multiselect-wrap .k-select {
      border-radius: 0;
    }
  }
}
