@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading {
  position: relative;
  pointer-events: none;
  user-select: none;

  &::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color .75s ease-in;
    width: 100%;
    z-index: 10;
  }

  &::before {
    animation: spinner .75s linear infinite;
    border-color: $black $gray-100;
    border-style: solid;
    border-width: $spinner-border-width;
    border-radius: 50%;
    content: '';
    height: $spinner-height;
    left: 50%;
    position: absolute;
    top: 50%;
    width: $spinner-width;
    z-index: 11;
  }
}

.loading-sm {
  @extend .loading;

  &::before {
    border-width: $spinner-border-width-sm;
    height: $spinner-height-sm;
    width: $spinner-width-sm;
  }
}
